{{#burger-menu
  animation="squeeze"
  itemAnimation="push"
  translucentOverlay=false
  dismissOnClick=false
  open=burgermenuService.menuOpen as |burger|
}}
  {{#burger.menu itemTagName="routeList" as |menu|}}
    <ul>
      <h2>Menu</h2>
      {{#menu.item}}
        <li>
          {{#link-to "home.index"}}
            <div class="row">
              {{fa-icon "globe"}}
              <div>Index</div>
            </div>
          {{/link-to}}
        </li>
      {{/menu.item}}
      {{#menu.item}}
        <li>
          {{#link-to "home.flightsv1"}}
            <div class="row">
              {{fa-icon "plane"}}
              <div>Flights v1</div>
            </div>
          {{/link-to}}
        </li>
      {{/menu.item}}
      {{#menu.item}}
        <li>
          {{#link-to "home.flightsv2"}}
            <div class="row">
              {{fa-icon "fighter-jet"}}
              <div>Flights v2</div>
            </div>
          {{/link-to}}
        </li>
      {{/menu.item}}
      {{#menu.item}}
        <li>
          {{#link-to "home.editor"}}
            <div class="row">
              {{fa-icon "cog"}}
              <div>Editor</div>
            </div>
          {{/link-to}}
        </li>
      {{/menu.item}}
      {{#menu.item}}
        <li>
          {{#link-to "home.about"}}
            <div class="row">
              {{fa-icon "info-circle"}}
              <div>About</div>
            </div>
          {{/link-to}}
        </li>
      {{/menu.item}}
    </ul>
  {{/burger.menu}}
  {{#burger.outlet class="burgetOutlet"}}
    {{playground-button class="hamburger" shepData="hamburger" buttonAction=(action "toggleBurger") faIcon="bars" tooltip="Toggle Menu"}}
    {{playground-button class="tour" shepData="tour" buttonAction=(action "toggleTour") faIcon="info" tooltip="Take a Tour"}}
    {{outlet}}
  {{/burger.outlet}}
{{/burger-menu}}
