{{#burger-menu 
  animation="squeeze"
  itemAnimation="push"
  translucentOverlay=false
  dismissOnClick=false as |burger|
}}
  {{#burger.menu itemTagName="li" as |menu|}}
    {{!-- import FA & change to FA x icon!!! --}}
    <button {{action burger.state.actions.close}}>Close</button>
    <ul>
      {{#menu.item}}
        <h4><button {{action "indexRoute"}}>Index Route</button></h4>
      {{/menu.item}}
      {{#menu.item}}
        <h4><button {{action "editorRoute"}}>Editor Route</button></h4>
      {{/menu.item}}
      {{#menu.item}}
        <h4><button {{action "aboutPage"}}>About Page</button></h4>
      {{/menu.item}}
    </ul>
  {{/burger.menu}}
  {{#burger.outlet}}
    {{!-- import FA & change to FA icon!!! --}}
    <button {{action burger.state.actions.toggle}}>Menu</button>
    {{outlet}}
  {{/burger.outlet}}
{{/burger-menu}}
