{{#burger-menu
  animation="squeeze"
  itemAnimation="push"
  translucentOverlay=false
  dismissOnClick=false
  open=burgermenuService.menuOpen as |burger|
}}
  {{#burger.menu itemTagName="routeList" as |menu|}}
    <ul>
      <h2>Menu</h2>
      {{#menu.item}}
        <li>
          {{#link-to "home.index"}}
            {{fa-icon "globe"}} Index
          {{/link-to}}
        </li>
      {{/menu.item}}
      {{#menu.item}}
        <li>
          {{#link-to "home.index"}}
            {{fa-icon "plane"}} Flights v1
          {{/link-to}}
        </li>
      {{/menu.item}}
      {{#menu.item}}
        <li>
          {{#link-to "home.index"}}
            {{fa-icon "fighter-jet"}} Flights v2
          {{/link-to}}
        </li>
      {{/menu.item}}
      {{#menu.item}}
        <li>
          {{#link-to "home.editor"}}
            {{fa-icon "cog"}} Editor
          {{/link-to}}
        </li>
      {{/menu.item}}
      {{#menu.item}}
        <li>
          {{#link-to "home.about"}} 
            {{fa-icon "info-circle"}} About
          {{/link-to}}
        </li>
      {{/menu.item}}
    </ul>
  {{/burger.menu}}
  {{#burger.outlet class="burgetOutlet"}}
    {{playground-button class="hamburger" buttonAction=(action "toggleBurger") faIcon="bars"}}
    {{outlet}}
  {{/burger.outlet}}
{{/burger-menu}}
