{{!-- Draw Plugin --}}
{{#if drawEnabled}}
  {{map-component/draw-control showDrawLayer=false
    onDrawCreated=(action "drawCreated")
    onDrawEdited=(action "drawEdited")
    onDrawDeleted=(action "drawDeleted")
  }}
{{/if}}

{{!-- Basemaps --}}
{{#layer-group name="Voyager" baselayer=true default=true}}
  {{tile-layer url="http://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}.png"}}
{{/layer-group}}
{{#layer-group name="Spotify Dark" baselayer=true default=false}}
  {{tile-layer url="http://{s}.basemaps.cartocdn.com/spotify_dark/{z}/{x}/{y}.png"}}
{{/layer-group}}
{{#layer-group name="Light All" baselayer=true default=false}}
  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
{{/layer-group}}
{{#if enabledBase}}
  {{#layer-group name="Dark All" baselayer=true default=false}}
    {{tile-layer url="http://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png"}}
  {{/layer-group}}
  {{#layer-group name="Local Map" baselayer=true default=false}}
    {{tile-layer url="http://localhost:8080/geoserver/gwc/service/wmts/rest/cite:BlueMarbleNG-TB_2004-12-01_rgb_3600x1800/raster/EPSG:900913/EPSG:900913:{z}/{y}/{x}?format=image/png"}}
  {{/layer-group}}
{{/if}}

{{!-- Points --}}
{{#if points.length}}
  {{#layer-group name="Points" default=true}}
    {{#marker-cluster-layer}}
      {{#each points as |point|}}
        {{#marker-layer location=point.location onMouseover=(action "mouseOverObject" point) icon=markerIcon}}
          {{#popup-layer popupOpen=(readonly (eq point.name hoveredObject.name))}}
            <h2>{{point.name}}</h2>
          {{/popup-layer}}
        {{/marker-layer}}
      {{/each}}
    {{/marker-cluster-layer}}
  {{/layer-group}}
{{/if}}

{{!-- Flight Path --}}
{{#if flightPaths.length}}
  {{#layer-group name="Flight Paths" default=true}}
    {{#each flightPaths as |flightPath|}}
      {{#marker-layer location=flightPath.firstLocation icon=(if flightPath.reverse flightPath.flightIcon slingShotIcon)}}
        {{#popup-layer popupOpen=(if (and flightPath.popupOpen (not flightPath.reverse)) true false)}}
          <h2>{{flightPath.flightStatus}}</h2>
        {{/popup-layer}}
      {{/marker-layer}}
      {{polyline-decorator latlngs=flightPath.polylineLocation patterns=flightPath.polylinePattern}}
      {{#marker-layer location=flightPath.lastLocation icon=(if flightPath.reverse slingShotIcon flightPath.flightIcon)}}
        {{#popup-layer popupOpen=(if (and flightPath.popupOpen flightPath.reverse) true false)}}
          <h2>{{flightPath.flightStatus}}</h2>
        {{/popup-layer}}
      {{/marker-layer}}
    {{/each}}
  {{/layer-group}}
{{/if}}

{{!-- GeoJSON --}}
{{#if geojson.length}}
  {{#layer-group name="GeoJSON" default=true}}
    {{#each geojson as |geo|}}
      {{#geojson-layer geoJSON=geo opacity=0.1 onMouseover=(action "mouseOverObject" geo)}}
        {{#popup-layer popupOpen=(readonly (eq geo.properties.name hoveredObject.properties.name))}}
          <h2>{{geo.properties.name}}</h2> 
        {{/popup-layer}}
      {{/geojson-layer}}
    {{/each}}
  {{/layer-group}}
{{/if}}

{{!-- DynamicLayer --}}
{{#if dynamicPoints.length}}
  {{#layer-group name="Dynamic Points" default=false}}
    {{#each dynamicPoints as |dynamic|}}
      {{#marker-layer location=dynamic.location onMouseover=(action "mouseOverObject" dynamic) icon=markerIcon}}
        {{#popup-layer popupOpen=(readonly (eq dynamic.name hoveredObject.name))}}
          <h2>{{dynamic.name}}</h2>
        {{/popup-layer}}
      {{/marker-layer}}
    {{/each}}
  {{/layer-group}}
{{/if}}

{{!-- Draw Objects --}}
{{#if drawEnabled}}
  {{#layer-group name="Draw" default=false}}
    {{#each drawObjects as |obj|}}
      {{map-component/drawObject object=obj}}
    {{/each}}
  {{/layer-group}}
{{/if}}

{{!-- Menu options --}}
{{#leaflet-contextmenu}}
  {{leaflet-contextmenu-item text="Fly to Melbourne" action=(action "goMelbourne")}}
  {{leaflet-contextmenu-item text="Fly to Sydney" action=(action "goSydney")}}
  {{leaflet-contextmenu-item text="Convert to Building Icons" action=(action "buildingIcons")}}
  {{leaflet-contextmenu-item text="Revert to Marker Icons" action=(action "markerIcons")}}
  {{leaflet-contextmenu-item text="Add Dynamic Point" action=(action "addPoint")}}
  {{leaflet-contextmenu-item text="Remove Dynamic Points" action=(action "removePoints")}}
  {{leaflet-contextmenu-item text="Add Other Basemaps" action=(action "addBaseLayer")}}
  {{leaflet-contextmenu-item text="Remove Other Basemaps" action=(action "removeBaseLayer")}}
{{/leaflet-contextmenu}}

{{!-- Layercontrol Plugin --}}
{{map-component/layer-control handler=(action "layerControlEvent")}}

{{!-- Fullscreen Plugin --}}
{{!-- {{pm-control}} --}}
<leaflet-fullscreen-control position="topleft"/>
{{!-- {{#leaflet-fullscreen-control position="topleft"}}
{{/leaflet-fullscreen-control}} --}}

{{yield}}
