{{#if (eq object.type "marker")}}
  {{#marker-layer location=object.latlng}}
    {{#popup-layer}}
      <h3>{{object.name}}</h3>
    {{/popup-layer}}
  {{/marker-layer}}
{{/if}}
{{#if (eq object.type "circlemarker")}}
  {{#circle-marker-layer location=object.latlng radius=object.radius}}
    {{#popup-layer}}
      <h3>{{object.name}}</h3>
    {{/popup-layer}}
  {{/circle-marker-layer}}
{{/if}}
{{#if (eq object.type "circle")}}
  {{#circle-layer location=object.latlng radius=object.mRadius}}
    {{#popup-layer}}
      <h3>{{object.name}}</h3>
    {{/popup-layer}}
  {{/circle-layer}}
{{/if}}
{{#if (eq object.type "polyline")}}
  {{#polyline-layer locations=object.latlngs}}
    {{#popup-layer}}
      <h3>{{object.name}}</h3>
    {{/popup-layer}}
  {{/polyline-layer}}
{{/if}}
{{#if (eq object.type "polygon")}}
  {{#polygon-layer locations=object.latlngs}}
    {{#popup-layer}}
      <h3>{{object.name}}</h3>
    {{/popup-layer}}
  {{/polygon-layer}}
{{/if}}