<h2>Editor Page</h2>

<div class="mainBody">
  <div class="component">
    {{playground-button buttonAction=(action "toggleSave") text=saveButtonText}}
    {{playground-button buttonAction=(action "enableComponents") text=componentButtonText}}
  </div>

  <div class="component">
    {{#map-component
        class="leaflet-container"
        latVal=latitude
        lngVal=longitude
        zoomVal=zoom
        geojson=geojson
        points=points
        saveEvent=saveEvent
        drawEnabled=true
        destination=destinationChoice
        mapInstance=mapInstance
        imageOverlays=imageOverlays
        videoOverlays=videoOverlays
        componentOverlays=componentOverlays}}
      {{#if (and mapInstance componentsEnabled)}}
        {{!-- Display group to capture a unique layer for display zones --}}
        {{#map-component/display-group
            mapInstance=mapInstance
            layerGroup=layerGroup
            layerName=layerGroupName
            componentOverlays=componentOverlays}}
          {{#if layerGroup}}
            {{!-- Display zone to render any child components on the map --}}
            {{#map-component/display-zone
                layerId=firstLayerId
                lat=firstLayerLatitude
                lng=firstLayerLongitude
                mapInstance=mapInstance
                layerGroup=layerGroup
                maintainComponentSize=true
                layerReady=layerReady}}
              {{#if layerReady}}
                {{#ember-wormhole to=firstLayerId}}
                  {{playground-button buttonAction=(action "toggleSave") text=firstLayerButtonText}}
                {{/ember-wormhole}}
              {{/if}}
            {{/map-component/display-zone}}
            {{#map-component/display-zone
                layerId=secondLayerId
                lat=secondLayerLatitude
                lng=secondLayerLongitude
                mapInstance=mapInstance
                layerGroup=layerGroup
                maintainComponentSize=true
                layerReady=layerReady}}
              {{#if layerReady}}
                {{#ember-wormhole to=secondLayerId}}
                  {{playground-button buttonAction=(action "toggleSave") text=secondLayerButtonText}}
                {{/ember-wormhole}}
              {{/if}}
            {{/map-component/display-zone}}
          {{/if}}
        {{/map-component/display-group}}
      {{/if}}
      {{!-- Layer-Control --}}
      {{map-component/layer-control
        handler=(action "layerControlEvent")
        imageOverlays=imageOverlays
        videoOverlays=videoOverlays
        componentOverlays=componentOverlays
      }}
    {{/map-component}}
  </div>

  <div class="component">
    <h4>Fly to:</h4>
    {{#power-select
        options=options
        selected=destinationChoice
        onchange=(action "changeSelection") as |option|}}
      {{option}}
    {{/power-select}}
  </div>
</div>